<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Aquaponie UQAM</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <h3>Contexte du projet</h3>
                <p>
                    Une microferme aquaponique sera installée cette année dans le Quartier des spectacles. L’installation est prévue pour début septembre à la Place Émilie-Gamelin et se déplacera dans le Quartier des spectacles au courant de l’année. Le but de cette microferme est de démocratiser l’aquaponie au Québec tout en utilisant cette plateforme pour sensibiliser la population aux différents enjeux environnementaux liés à l’agro-industrie. En parallèle, la microferme accueillera divers projets de recherche de LABO sur le sujet. Un partenariat de recherche a été établi avec le Biodôme de Montréal pour étudier divers paramètres biologiques reliés à l’aquaponie. La microferme composé d’un conteneur maritime recyclé et d’une serre retrouvée sur celui-ci sera fonctionnelle a l’année longue. L’objectif pour SerreÉTS est de réaliser ce projet de conception de microferme.
                </p>
                <p>
                    Dans une optique de partenariat à long terme, ce projet représente une porte d’entrée afin de démontrer nos compétences à LABO. Suite à ce projet, une collaboration plus étroite peut être établie entre les deux regroupements. Comme LABO prévoie débuter plusieurs aux projets biotechnologiques, SerreÉTS et par son entremise l’ÉTS, sera donc un partenaire de choix pour des projets écoresponsables et innovateurs.
                </p>

                <h3>Problématique pour l’entreprise</h3>
                <p>
                    Ce projet de conception de microferme présente plusieurs défis. Étant installées en plein cœur du Centre-ville, les installations devront être sécurisées et sécuritaires puisqu’un grand nombre de personnes pourront passer à proximité de l’installation. Ce concept de microferme s’inspire d’une installation d’une entreprise anglaise (Growup-aquaponics, http://growup.org.uk/) œuvrant dans l’agriculture urbaine. Combinant un conteneur maritime et une serre, elle arrive dans cette installation à cultiver des végétaux grâce à un système aquaponique. LABO veut reproduire ce concept de microferme urbaine, mais l’adapter au climat montréalais pour que la ferme puisse être fonctionnelle à longueur d’année.
                </p>
                <p>
                    En plus d’être adaptée au climat québécois, la microferme devra être facilement déplaçable pour permettre son déplacement dans le Quartier des spectacles.
                </p>

                <h3>Objectif du projet</h3>
                <p>
                    L’objectif du projet est d’avoir une microferme urbaine aquaponique adaptée au climat montréalais et qui pourra être facilement transportable. La température de l’eau et de l’air à l’intérieur de la microferme devra rester le plus stable possible pour ne pas incommoder les végétaux et les poissons et cela, peu importe la température de l’extérieur. Un système de monitorage devra également être présent dans le système pour permettre d’agir rapidement lors d’un débalancement du système aquaponique.
                </p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
