<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Bâtiment 7</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <img src="../images/projets/batiment-7-2.jpg" alt="batiment 7" width="300" height="303" class="responsive-img">
                <p>
                    Le projet du Bâtiment 7 consiste à donner une deuxième vie au bâtiment situé au 1830 rue le Ber. Avant que ce bâtiment n’appartienne au <em>Collectif 7 à Nous</em>, il était occupé par le Canadian National Railway comme bureau et entreposage. Ce bâtiment a été abandonné depuis plusieurs années et se retrouve aujourd’hui dans un état lamentable. Alors, le principal objectif du projet était d’effectuer des rénovations d’envergure afin de rendre à la communauté des installations et des services publics. De ce fait, nous avons reçu le mandat d’évaluer et de proposer des rénovations potentielles pour les systèmes mécaniques du bâtiment ainsi que des mesures d’efficacités énergétiques.
                </p>

                <p>
                    Pour ce faire, nos membres ont tout à bord rencontrés l’architecte en charge du projet pour le <em>Collectif 7 à Nous</em> et ensuite, ils ont visité le bâtiment pour recueillir l’information nécessaire à l’audit énergétique.
                </p>
                <img src="../images/projets/batiment-7-1.jpg" alt="batiment 7" width="500" height="374" class="responsive-img">
                <p>
                    Le bâtiment était à la phase de réhabilitation. En effet, contenu de la piètre condition de l’enveloppe du bâtiment, de la condition de contamination des sols, des bris et dommages sur les équipements mécaniques ainsi que le réseau électrique, des améliorations et modifications sont nécessaires afin de le rendre minimalement sécuritaire et légal. Ainsi, ce projet se voyait fournir des études pour la suite des choses, soit les possibles installations lorsque le bâtiment aura terminé sa phase de réhabilitation.
                </p>

                <p>
                    La prochaine étape réalisée a été d’effectuer des simulations énergétiques et d’analyser l’impact de différents éléments des systèmes mécaniques et de l’enveloppe du bâtiment sur l’efficacité énergétique et la rentabilité économique des travaux de réhabilitation.
                </p>
                <img src="../images/projets/batiment-7-3.jpg" alt="batiment 7" width="500" height="302" class="responsive-img">
                <p>
                    De ce fait, plusieurs propositions ont été faites. En ce qui concerne les systèmes mécaniques, il y a la potentialité de la ventilation naturelle et de l’installation d’équipements à vitesse variable. Du point de vue de l’enveloppe du bâtiment, l’amélioration de l’isolation des murs et du type de fenêtre était aussi considérée. De plus, côté mesures d’efficacités énergétiques, il y a la proposition du chauffage de l’eau chaude sanitaire par panneaux solaires à tubes sous-vide ou par chauffe-eau, la proposition des panneaux solaires photovoltaïque pour couvrir une partie de la consommation d’électricité, une proposition sur les technologies d’éclairage et une proposition sur les conduits de préchauffage de l’air. Des recommandations ont ainsi été faites pour chacune des propositions concernant la faisabilité et la viabilité des solutions.
                </p>
                <img src="../images/projets/batiment-7-4.jpg" alt="batiment 7" width="800" height="133" class="responsive-img">
            </div>
        </div>
    </div>
    <!-- row -->
</div>
