<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Cultre d'algue</h2>
            <hr>
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    Notre projet agricole expérimental le plus singulier est sans doute celui de production d’algue. Ce petit système vise à expérimenter certaines souches de microalgues afin de trouver un fournisseur fiable et à faire nos premiers pas pour comprendre cette forme de vie méconnue en occident. Les microalgues sont le sujet d’études dans plusieurs universités dans le monde, car elles ont un grand potentiel pour l’industrie. On peut utiliser cette biomasse pour développer des engrais, du biocarburant, du plastique biodégradable et des aliments comestibles. Cette initiation à la production de microalgues en aquarium nous amènera à concevoir un plus gros système pour la future serre.
                </p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
