<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Mur solaire</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <h3>Objectif</h3>
                <p>
                    Le but de ce projet de recherche est de vérifier s’il est plus économique financièrement, dans un contexte de mûr solaire de faibles dimensions (4’x8’), de fabriquer un mur solaire avec un absorbeur fait avec ou sans matériaux recyclés.
                </p>
                <p>
                    Afin de répondre à cette question, deux bancs de test seront conçus et fabriqués afin d’analyser en parallèle l’efficacité de deux technologies de mur solaire thermique. L’absorbeur du premier sera réalisé avec des canettes d’aluminium et celui du deuxième avec une feuille d’aluminium.
                </p>

                <h3>Contexte</h3>
                <p>
                    Le mur solaire est une technologie émergente en Amérique et est principalement utilisé dans le milieu industriel et commercial. Malgré sa pertinence, le mur solaire n’est pas encore présent à plus petite échelle, comme dans le milieu résidentiel et serricole.
                </p>
                <img src="../images/projets/mur-solaire-1.jpg" alt="mur solaire" width="500" height="334" class="responsive-img">
                <span class="source-paragraph-right">Illustration d'un mur solaire intégré à une maison</span>
                <p>
                    Il est donc intéressant pour SerreÉTS d’étudier cette technologie dans l’optique de réduire les besoins de chauffage d’une serre l’hiver et possiblement d’augmenter la ventilation naturelle l’été.
                </p>

                <p>
                    En effet, puisque les serres l’hiver ont besoin d’un grand nombre de changements d’air afin de réduire le taux d’humidité, un préchauffage grâce à un mur solaire est très intéressant pour réduire leurs coûts énergétiques. La figue suivante schématise comment un mur solaire intègre le système de ventilation d’une serre ou d’un domicile.
                </p>

                <img src="../images/projets/mur-solaire-3.jpg" alt="mur solaire" width="286" height="214" class="responsive-img">
                <span style="font-size:11px; display:block; text-align:center;">Connexion au système de ventilation</span>

                <h3>Méthodologie</h3>
                <p>
                    Les variables qui nous intéressent dans cette étude sont les suivantes : la radiation incidente sur les murs solaires (W), la température ambiante (C), la température à la sortie des murs solaire (C) et le débit de ventilation (m3/s). Ces variables nous permettront de déterminer l’efficacité des murs solaire.
                </p>
                <p>
                    La radiation solaire sera obtenue à partir du centre de recherche CANMET Énergie à Varennes. Les autres données seront récoltées chaque minute à l’aide d’un microcontrôleur où seront connectées les sondes de température nécessaire.
                </p>
                <img src="../images/projets/mur-solaire-2.jpg" alt="mur solaire" width="500" height="355" class="responsive-img">

                <p>
                    Afin de maintenir une température de sortie d’air entre 15 et 20 degrés Celsius, température intérieure d’une serre en saisons de chauffage, le ventilateur des capteurs variera de vitesse. Le débit de chaque capteur sera approximé en fonction de sa régulation.
                </p>
                <p>
                    Les données enregistrées seront récoltées hebdomadairement et transférées dans un tableur Excel ainsi que les données d’intensité solaire provenant de CANMET Énergie. L’analyse des efficacités respective des capteurs seront réalisés à même ce tableau Excel.
                </p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
