<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Conception d’une four solaire</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <h3>Mise en contexte</h3>
                <img src="../images/projets/perou-2017-1.jpg" alt="perou 2017" width="300" height="300" class="responsive-img">
                <p>
                    Le projet présenté a comme objectif de développer un modèle de four solaire passif utilisé dans un pays émergent d’Amérique du Sud. L’objectif est d’accroître l’accessibilité des communautés à des énergies alternatives renouvelables et accessibles, visant à conserver les aliments et à réduire l’insécurité alimentaire. L’utilisation du soleil comme ressource naturel permet aussi de réduire l’exposition des ménages aux émanations toxiques reliées à la combustion de matières inorganiques traditionnellement utilisées pour la cuisson des aliments.
                </p>
                <p>
                    Le coût du gaz naturel et du bois de combustible est souvent très élevé pour plusieurs familles (celui de l’électricité encore plus!) et compose la majeure partie de l’énergie utilisé dans leur maison. Il devient alors très intéressant de fournir une solution qui permet de réduire l’utilisation de leur four conventionnel. Le choix des matériaux, des méthodes de fabrications et des contraintes d’utilisations devront être sélectionnés en fonction des contraintes du milieu.
                </p>

                <h3>Mandat spécifique</h3>
                <p>
                    Le mandat est de concevoir un four solaire passif qui sera implanté à Ayacucho, Pérou afin de renforcer la sécurité alimentaire d’une famille. Le four doit être construit à faible coût en valorisant les matériaux locaux et les objets recyclés. La conception doit être simple et facilement reproductible à l’aide d’un manuel (Famille sans connaissances techniques). Les fours doivent être facilement nettoyables afin d’assurer des conditions sanitaires respectables. Finalement, il serait intéressant d’étudier la possibilité d’installer un système de contrôle afin de permettre l’automatisation de base et la collecte de données énergétiques. Le coût d’un four solaire devra idéalement être inférieur à $250,00 CAN.
                </p>
                <p>
                    Le mandat ne se limite pas aux aspects techniques. Il faudra que la solution puisse être réalisée en accord avec les principes du développement durable. Il consistera donc principalement à :
                </p>
                <ul>
                    <li>Concevoir une solution technique répondant aux besoins (Plus de détails suivront au niveau du cahier des charges) </li>
                    <li>Évaluer si une inspiration biomimétique peut être suivie pour éco-innover dans le domaine </li>
                    <li>Évaluer si une inspiration <strong>biomimétique</strong> peut être suivie pour éco-innover dans le domaine </li>
                    <li><strong>Évaluer la durabilité de votre solution</strong> : comment votre solution ou votre proposition de projet s’inscrit-  elle dans une démarche de développement durable? (vous pouvez utiliser une grille d’analyse de la durabilité de projet), </li>
                    <li>Évaluer quels pourraient être les <strong>impacts environnementaux</strong> positifs ou négatifs du projet</li>
                    <li>Évaluer quelles pourraient être les <strong>retombées économiques</strong> positives pour la communauté (transfert de connaissance, développement d’entreprises et d’emplois locaux…)</li>
                    <li>Évaluer quels pourraient être les <strong>impacts sociaux</strong> du projet. Le projet peut-il renforcer les capacités des bénéficiaires ? (Apprentissage, nouveaux comportements, découverte de nouvelles ressources, possibilité de création d’emploi, développement d’expertises)</li>
                    <li>Définir la démarche à suivre pour l’implantation du projet : phases de réalisation, outils requis, expertises requises, stratégie de réalisation du projet</li>
                </ul>


            </div>
        </div>
    </div>
    <!-- row -->
</div>
