<div id="team" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Projet A</h2>
            <hr>
            
            <div class="col-lg-8 col-lg-offset-2">
                
                
                <p>
                        SerreÉTS est formé d’une trentaine d’universitaires partageant une même passion pour les sciences spatiales. Les membres étudient dans plusieurs domaines d’ingénierie tant au baccalauréat qu’aux cycles supérieurs ce qui rend l’équipe multidisciplinaire. Leurs compétences sont mises à profit dans les divers départements qui constituent le club.
                    
                </p>
                <p>
                        SerreÉTS est formé d’une trentaine d’universitaires partageant une même passion pour les sciences spatiales. Les membres étudient dans plusieurs domaines d’ingénierie tant au baccalauréat qu’aux cycles supérieurs ce qui rend l’équipe multidisciplinaire. Leurs compétences sont mises à profit dans les divers départements qui constituent le club.
                    
                </p>
                <p>
                        SerreÉTS est formé d’une trentaine d’universitaires partageant une même passion pour les sciences spatiales. Les membres étudient dans plusieurs domaines d’ingénierie tant au baccalauréat qu’aux cycles supérieurs ce qui rend l’équipe multidisciplinaire. Leurs compétences sont mises à profit dans les divers départements qui constituent le club.
                    
                </p>
            </div>
        </div>
    </div>
    <!-- row --> 
</div>