<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">Système hydroponique</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <img src="../images/projets/systeme-hydroponique-1.jpg" alt="systeme hydroponique" width="450" height="601" class="responsive-img">
                <p>
                    Dans le but d’acquérir de l’expérience en conception et fabrication de systèmes agricoles expérimentaux avant de passer aux plus gros systèmes qui seront dans la future serre, notre équipe a décidé de concevoir et réaliser un système hydroponique expérimental. Le système que nous avons construit est installé dans le STEPPE (Station Expérimentale des Procédés Pilotes en Environnement) à l’ÉTS. Les expérimentations qui ont lieu sur ce système ont pour but d’optimiser certains paramètres dont nous n’avons pas trouvé de recommandation dans la littérature. Une automatisation pour un meilleur contrôle de certains paramètres sera faite en testant notre système complet de contrôle pour systèmes agroalimentaires en développement présentement.
                </p>
                <p>
                    L’hydroponie se définie comme étant un système agricole intérieur où les racines des plantes baignent dans une eau enrichie aux nutriments extraits d’un autre milieu. Plusieurs types de systèmes existent sur le marché, mais nous avons décidé de débuter avec un système NFT destiné à la production de petites plantes feuillues comme la laitue. L’utilisation de ce type de système est considérée dans la future serre pour une seconde phase de test sur des systèmes agricoles émergents. Effectivement, cette technologie pourrait être une modification à appliquer à un système aquaponique dans le but de diminuer les coûts du système.
                </p>
                <img src="../images/projets/systeme-hydroponique-2.jpg" alt="systeme hydroponique" width="480" height="640" class="responsive-img">
                <p>
                    Une amélioration intéressante qui nous vient en tête lorsqu’on travaille avec un système hydroponique est d’utiliser une solution de nutriment de source organique plutôt que celles disponibles actuellement sur le marché qui sont fabriquées chimiquement. Cela ouvre la porte à de beaux projets de valorisation du compost afin de développer une alternative écologique et accessible pour tous.
                </p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
