<!-- ==== CONTACT ==== -->

<div id="contact">
    <div class="container">
        <div class="row">
            <h2 class="centered">CONTACTEZ-NOUS</h2>
            <hr>
            <div class="col-md-6 centered"> <i class="fa fa-map-marker fa-2x"></i>
                <p>1100 rue Notre-Dame Ouest, Local A-1172<br />
                    Montréal, QC H3C 1K3, Canada
                </p>
            </div>
            <div class="col-md-6"> <i class="fa fa-envelope-o fa-2x"></i>
                <p><a href='mailto:serreets@gmail.com'>serreets@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p>
                    Si vous avez des questions à propos du club, de nos projets ou tout autre sujet, n'hésitez pas à nous contacter.
                </p>

                <div id="contact" class="form" ng-controller="ContactCtrl">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="text" class="form-control" id="firstName" ng-model="name" placeholder="Nom" required />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="text" class="form-control" id="lastName" ng-model="email" placeholder="Courriel" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <select class="form-control" id="subject" ng-model="subject" ng-options="option.name for option in options" required ></select>
                        </div>
                    </div>

                    <textarea class="form-control" id="messageContact" ng-model="messageContact" placeholder="Message" rows="5"></textarea>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <button class="btn btn btn-lg" name="contact-submit" ng-click="sendContactMail()">Envoyer</button>
                            <br />
                            <br />
                            <span id="message">{{message}}</span>
                        </div>
                    </div>

                </div>











            </div>
        </div>
        <!-- form -->
    </div>
</div>
<!-- row -->
