<div id="team" ng-controller="EquipeCtrl">
    <div class="container">
        <div class="row centered">
            <h2 class="centered">NOTRE ÉQUIPE</h2>
            <hr>
            
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p class="large">
                        Le noyau de SerreÉTS est constitué d’étudiants proactifs dans tous les génies de l’ÉTS, du baccalauréat et des cycles supérieurs. Le regroupement est présentement composé de quatre équipes techniques et de l’administration. Les équipes techniques regroupent l’expertise dans les différents domaines d’activité du club et travaillent sur des projets différents des autres équipes ou en collaboration avec elles en se concentrant sur différents aspects du projet principal du club. Elles ont chacun un chef d’équipe qui assure la gestion de l’équipe et la communication avec l’administration du club. De plus, les équipes échangent activement entre elles, car plusieurs membres sont actifs dans deux équipes à la fois.
                    
                </p>
            </div>

            <div class="clearfix">




      

                        <div class="col-lg-3 centered" ng-repeat="membre in membres">
                            <img class="img img-circle" src="images/team/{{ membre.url}}" height="120" width="120" alt="">
                            <h4><strong>{{ membre.nom}}</strong></h4>
                            <p>{{ membre.role}}</p>
                            <!--p>{{ x.role}}</p-->
                        </div>

    

            </div>


            
        </div>
    </div>
    <!-- row --> 
</div>