
<!-- ==== ÉVÉNEMENTS ==== -->
<div id="evenement" ng-controller="EvenementCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">NOS ÉVÉNEMENTS</h2>
            <hr>
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p class="large">
			             Soyez à l'affût de ce que nous faisons! Vous trouverez ici les événements auxquels nous prenons part, les dates de nos réunions et encore plus.
				      </p>
            </div>
        </div>
        <!-- /row -->
        <div class="container">
            <div class="row">
                <div class="clearfix">
                  <div class="centered">
                    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=etsmtl.net_rhvvdckvhudrnkc151o2ju26mc%40group.calendar.google.com&amp;color=%232F6309" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /container -->
