
<!-- ==== PORTFOLIO ==== -->
<div id="project" ng-controller="ProjetCtrl">
    <div class="container">
        <div class="row">
            <h2 class="centered">NOS PROJETS</h2>
            <hr>
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p class="large">
					SerreÉTS a plusieurs projets en cours, en voici quelques uns.
				</p>
            </div>
        </div>
        <!-- /row -->
        <div class="container">
            <div class="row">
                <div class="clearfix">

                    <div class="col-md-6 col-xs-12" ng-repeat="projet in projets">

                        <a ng-href="#projet/{{ projet.url}}"><img class="img responsive-img" ng-src="images/projets/{{ projet.images}}"  alt="{{ projet.nom}}"></a>
                        <h4><strong>{{ projet.nom}}</strong></h4>
                        <p class="projectBox">{{ projet.description}}<a ng-href="#projet/{{ projet.url}}"> En savoir plus...</a></p>

                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /container -->
